---
import PageHeader from "../../components/shared/Header";
import Layout from "../../layouts/Layout.astro";
import PageBreadCrumbs from "../../components/shared/Header/pageBreadCrumbs";
import PageTitle from "../../components/shared/Header/pageTitle";
import ClientsDashboardIsland from "@/components/shared/clients/Dashboard/ClientsDashboardIsland";
const url = Astro.url;
---

<Layout
  title="Elevate Mate | Careers"
  description="Explore exciting career opportunities at Elevate Mate and join our passionate team of innovators and problem-solvers."
>
  <div class="flex w-full flex-1 flex-col items-center sm:my-8 lg:my-20">
    <PageHeader>
      <PageBreadCrumbs pathname={url.pathname} />
      <PageTitle>
        Join Our <span class="text-primary-100">Team</span>
      </PageTitle>
    </PageHeader>
    <ClientsDashboardIsland client:only="react" />
  </div>
</Layout>
