---
const year = new Date().getFullYear();
---

<div
  class="flex w-full flex-col items-center gap-16 bg-smoke-200/20 py-6 sm:py-16 lg:pt-20"
>
  <div
    class="flex w-full max-w-308 flex-col items-start gap-3 px-4 sm:items-center sm:px-16 lg:gap-16 lg:px-22"
  >
    <main
      class="grid w-full grid-cols-1 gap-10 sm:grid-flow-col sm:grid-rows-2 lg:grid-cols-3 lg:grid-rows-none"
    >
      <!-- SVG stays SAME -->
      <svg
        width="122"
        height="122"
        viewBox="0 0 122 122"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="hidden h-30 w-auto lg:inline-grid"
      >
        <path
          d="M5.56216 91.2451H20.4861L19.7684 95.5048H9.10227L7.71531 103.78H16.7548L16.0371 108.038H7.02857L5.33863 117.666H16.3562L15.6385 121.924H0.349609L5.56216 91.2451Z"
          fill="#231F20"></path>
        <path
          d="M22.2901 91.2451H26.595L22.0989 117.666H32.5266L31.8089 121.924H17.0762L22.2901 91.2451Z"
          fill="#231F20"></path>
        <path
          d="M38.5225 91.2451H56.553L55.8353 95.5048H42.0626L40.6743 103.78H49.7151L48.9974 108.038H39.9889L38.299 117.666H49.3165L48.5988 121.924H33.3086L38.5225 91.2451Z"
          fill="#231F20"></path>
        <path
          d="M76.9369 91.2451H82.925L85.7474 121.924H81.2513L80.2467 104.812C80.0703 101.679 79.8643 98.6204 79.7364 95.2608H79.5775C78.3184 98.5998 77.1537 101.603 75.8138 104.812L68.6393 121.924H63.8887L76.9369 91.2451ZM71.2854 109.428H82.9722L82.2073 113.293H70.4882L71.2854 109.428Z"
          fill="#231F20"></path>
        <path
          d="M92.0017 95.5429H84.7949L85.5126 91.2451H104.23L103.512 95.5429H96.3067L91.8577 121.924H87.554L92.0017 95.5429Z"
          fill="#231F20"></path>
        <path
          d="M114.401 122H99.0938L99.7428 117.736H110.772L112.17 108.097H103.152L103.8 103.833H112.85L114.119 95.5479H103.44L104.089 91.2295H119.03L114.401 122Z"
          fill="#231F20"></path>
        <path
          d="M88.2515 75.9844H90.5474L91.2759 81.5674L91.5425 83.74H91.6058L92.5632 81.5674L95.15 75.9844H97.4458L95.3897 88.0822H93.3563L94.2101 83.2757C94.4255 82.0586 94.8281 80.4058 95.1473 79.2267H95.0974L93.829 82.0158L91.4079 86.9776H90.5339L89.7879 82.0158L89.4621 79.2267H89.4123C89.3193 80.4121 89.2008 82.0903 89.0042 83.2757L88.1761 88.0822H86.1953L88.2515 75.9844Z"
          fill="#47B649"></path>
        <path
          d="M101.868 75.9844H104.447L105.485 88.0822H103.219L102.955 81.5277C102.907 80.3376 102.853 79.2014 102.831 77.932H102.768C102.318 79.1792 101.922 80.3249 101.441 81.5277L98.8143 88.0822H96.4336L101.868 75.9844ZM99.524 83.1204H104.226L103.846 85.0395H99.1388L99.5253 83.1204H99.524Z"
          fill="#47B649"></path>
        <path
          d="M109.027 78.1253H106.324L106.678 75.9844H114.247L113.893 78.1253H111.189L109.514 88.0822H107.352L109.027 78.1253Z"
          fill="#47B649"></path>
        <path
          d="M115.904 75.9844H122L121.644 78.119H117.685L117.25 80.7449H120.609L120.253 82.8779H116.902L116.359 85.9475H120.45L120.096 88.0806H113.848L115.904 75.9844Z"
          fill="#47B649"></path>
        <mask
          id="mask0_610_5639"
          class="[mask-type:luminance]"
          maskUnits="userSpaceOnUse"
          x="38"
          y="91"
          width="42"
          height="31"
        >
          <path d="M79.0811 91.2295H38.8027V122H79.0811V91.2295Z" fill="white"
          ></path>
        </mask>
        <g mask="url(#mask0_610_5639)">
          <path
            d="M81.0265 81.2425L79.2867 80.3233L62.3806 121.922H57.2004L54.918 91.2453H59.3818L60.245 107.311C60.42 110.576 60.5937 113.942 60.6907 117.271H60.8509C62.118 113.98 63.4269 110.565 64.7263 107.311L76.2933 78.7465L74.6074 77.8607L77.2292 76.0351L79.8509 74.2031L80.438 77.726L81.0265 81.2441V81.2425Z"
            fill="#010101"></path>
        </g>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M52.5926 0L30.4457 35.997C33.5455 38.634 35.9733 40.2171 39.1108 41.9302L52.5926 19.8233L72.1986 51.8205C52.4418 53.0502 31.7518 42.6338 16.3283 24.3493C26.5245 52.9187 54.0119 66.72 89.8641 60.8296L52.5926 0ZM33.769 50.6335C31.5283 49.4022 28.0919 45.9316 26.1501 43.2059L15.3574 60.8312C23.4247 72.7864 35.3 80.3455 48.223 81.7955C61.1446 83.2012 73.9922 78.3234 83.7763 68.346C65.626 78.6752 43.8898 73.9717 30.035 56.7426L33.7703 50.6335H33.769Z"
          fill="#231F20"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M13.4077 21.481L12.3251 35.8529L0 7.19629L25.2454 18.9755L13.4077 21.481Z"
          fill="#47B649"></path>
      </svg>

      <!-- Links -->
      <ul
        class="hidden flex-col gap-4 font-grotesk text-base font-medium text-smoke-700 sm:flex"
      >
        <li>
          <a
            href="https://www.elevate-mate.com/#second-hero"
            class="font-grotesk text-lg font-medium text-smoke-800 hover:text-smoke-300"
            >About Us</a
          >
        </li>
        <li>
          <a
            href="https://www.elevate-mate.com/#who_we_are"
            class="font-grotesk text-lg font-medium text-smoke-800 hover:text-smoke-300"
            >Objectives</a
          >
        </li>
        <li>
          <a
            href="https://www.elevate-mate.com/#services_section"
            class="font-grotesk text-lg font-medium text-smoke-800 hover:text-smoke-300"
            >Services</a
          >
        </li>
        <li>
          <a
            href="https://www.elevate-mate.com/#core_values"
            class="font-grotesk text-lg font-medium text-smoke-800 hover:text-smoke-300"
            >Values</a
          >
        </li>
        <li>
          <a
            href="/"
            class="font-grotesk text-lg font-medium text-smoke-800 hover:text-smoke-300"
            >Careers</a
          >
        </li>
      </ul>

      <!-- Contact -->
      <ul
        class="order-2 flex flex-col gap-4 font-grotesk text-base font-medium text-smoke-700 sm:order-none"
      >
        <li class="font-grotesk text-lg font-medium text-smoke-800">Contact</li>
        <li>
          <a
            href="#"
            class="font-grotesk text-lg font-normal text-smoke-800 hover:text-smoke-300"
            >+97450088867</a
          >
        </li>
        <li>
          <a
            href="#"
            class="font-grotesk text-lg font-normal text-smoke-800 hover:text-smoke-300"
            >info@elevate-mate.com</a
          >
        </li>
      </ul>

      <!-- Social -->
      <div
        class="order-1 flex flex-col gap-8 sm:order-none sm:row-span-2 lg:row-auto"
      >
        <div class="flex flex-col gap-3">
          <p class="font-grotesk text-lg font-medium text-smoke-800">
            Follow us
          </p>

          <ul class="flex items-center gap-2">
            <li>
              <a
                href="https://www.linkedin.com/company/elevatemate-consultations-services/"
                ><img src={"/svgs/Linkedin.svg"} alt="linkedin logo" /></a
              >
            </li>
            <li>
              <a
                href="https://www.facebook.com/people/ElevateMate-Consultations-Services/61552609104937/"
                ><img src={"/svgs/Facebook.svg"} alt="facebook logo" /></a
              >
            </li>
            <li>
              <a href="https://www.instagram.com/elevatemate.q/"
                ><img src={"/svgs/Instagram.svg"} alt="instagram logo" /></a
              >
            </li>
            <li>
              <a href="https://twitter.com/ElevateMateCS"
                ><img src={"/svgs/Twitter.svg"} alt="twitter logo" /></a
              >
            </li>
            <li>
              <a href="https://wa.me/message/WA26F4DG6U4OD1"
                ><img src={"/svgs/Whatsapp.svg"} alt="whatsapp logo" /></a
              >
            </li>
          </ul>

          <a
            href="/admin/careers"
            class="w-full block rounded-lg bg-primary-100 p-2 text-center font-grotesk text-lg font-medium text-smoke-50 hover:bg-primary-200"
          >
            Admin Dashboard
          </a>
        </div>
      </div>
    </main>

    <!-- Footer bottom -->
    <span class="font-smoke-800 text-s font-roboto font-light sm:self-end">
      &copy; {year} ElevateMate. All rights reserved
    </span>
  </div>
</div>
